@page "/"

<PageTitle>Pubg stats</PageTitle>

<div class="container-fluid">
    <input type="text" @bind-value="@playerName" />
    <input type="button" value="Search" @onclick="@SearchPlayer">
    <div class="form-group">
        <label for="">Playername</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="Enter playername, eg. Spuute">
        <small id="" class="form-text text-muted">You must enter the correct name with upper and lowercase letters.</small>
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</div>

@code {
    private string playerName;

    async Task SearchPlayer()
    {

    }
}